.header {
  font-family: arial;
  font-size: 18px;
}

.row {
  display: table;
  width: 100%;
  margin-bottom: 10px;
}

.cat {
  display: table-cell;
  max-width: 300px;
}

.dog {
  display: table-cell;
  max-width: 300px;
}

.cow {
  display: table-cell;
  max-width: 300px;
}

.buttons {
  display: table;
  width: 100%;
}

.buttons button {
  display: table-cell;
  max-width: 300px;
  border-spacing: 10px;
  border: 2px solid orange;
  font-family: arial;
  font-size: 16px;
}

.row img {
  width: 75px;
  height: 200px;
}

.cat button {
  background-color: royalblue;
  color: white;
  font-family: arial;
  font-size: 14px;

}.dog button {
  background-color: royalblue;
  color: white;
  font-family: arial;
  font-size: 14px;
}

.cow button {
  background-color: royalblue;
  color: white;
  font-family: arial;
  font-size: 14px;
}


